body {
    /*typo*/
    margin: 0;
    padding: 0;
    background-color: #D9D9D9;
}

table{
    width: 70%;
}

header{
    background-color: #282828;
    color : #fff;
    display: flex;
}

h3{
    color: #DC9A0E;
    text-align: center;
}

h2{
    text-align: center;
}

#principal {
    display: flex;
    align-items: center;
}

header ul{
    display: flex;
}

header li{
    margin-left: 45%;
    list-style: none;
}

#principal ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

#principal ul li a:hover {
    color: orange;
}

a {
    list-style: none;
    color: #fff;
}

/* ---- accueil -----*/
#banniere_accueil {
    position: relative;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0));
    margin-bottom: 100px;
}

#banniere_accueil h1 {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%);
    color: #DC9A0E;
    font-size: 5em;
}

#asbjorn{
    position: absolute;
    margin-top: 7%;
    margin-left: -20%;

    color:#fff;
    
}

.action-button {
    position: absolute;
    padding: 20px 60px;
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    color: #ffffff;
    text-decoration: none;
    background-color: #00000081;
    border-bottom: 5px solid #DC9A0E;
    text-shadow: 0px -2px #DC9A0E;
    margin-left: 47%;
    margin-top: 34%;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

.action-button:hover {
    color: #DC9A0E;
}
.action-button:active {
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}


#banniere_accueil figure {
    margin: 0;
    position: absolute;
    z-index: -1;
}

#banniere_accueil img {
    width: 100vw;
}
/* ---- accueil -----*/


/*---- section bandeau----*/
.Bandeau_bas{
    display: flex;
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 50px;
}

.Bandeau_haut{
    display: flex;
    margin-left: 50%;
    transform: translate(-50%);
}

.Bandeau_haut figure img{
    width: 550px;
    z-index: -1;
    position: relative;

}

.Bandeau_haut a{
    color: #DC9A0E;
    text-decoration: none;
}

.Bandeau_bas figure img{
    width: 550px;
    z-index: -1;
    position: relative;
}

.Bandeau_bas .Texte{
    background-color: #fff;
    padding: 0 25px;
    margin-top: 10%;
    margin-right: -10%;
}
.Bandeau_bas a{
    color: #DC9A0E;
    text-decoration: none;
}

.Bandeau_haut .Texte{
    background-color: #fff;
    padding: 0 25px;
    margin-top: 10%;
    margin-left: -10%;
}
/*---- section bandeau----*/

table {
    background-color: #fff;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50%;
    transform: translateX(-50%);
}

caption {
    background-color: #fff;
    padding: 20px;
}

table tr td {
    border: 1px solid black;
    width: 100px;
    height: 100%;

}

table tr td img {
    width: 50%;
    height: 50%;
}


footer{
    background-color: #282828;
    color : #fff;
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0;
}
